.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 4px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .dropdown-content div:hover {
    background-color: #f1f1f1;
  }
  
  .webview-style {
    flex-grow: 1;
  }
  
  .window-content {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 500px;
    background-color: white;
  }
  